<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<div class="main-menu-wrapper">
    <ul class="main-menu-list">
        {{#ifEquals menuSelected "index"}}
        <li><a href="/" class="main-menu-list-selected">Home</a></li>
        {{else}}
        <li><a href="/">Home</a></li>
        {{/ifEquals}}
        
        {{#ifEquals menuSelected "scan"}}
        <li><a href="/scan" class="main-menu-list-selected">Scan</a></li>
        {{else}}
        <li><a href="/scan">Scan</a></li>
        {{/ifEquals}}

        {{#ifEquals menuSelected "statistics"}}
        <li><a href="/statistics" class="main-menu-list-selected">Statistics</a></li>
        {{else}}
        <li><a href="/statistics">Statistics</a></li>
        {{/ifEquals}}
        
        {{#ifEquals menuSelected "history"}}
        <li><a href="/history" class="main-menu-list-selected">History</a></li>
        {{else}}
        <li><a href="/history">History</a></li>
        {{/ifEquals}}

        {{#ifEquals menuSelected "settings"}}
        <li><a href="/settings" class="main-menu-list-selected">Settings</a></li>
        {{else}}
        <li><a href="/settings">Settings</a></li>
        {{/ifEquals}}

    </ul>

</div>